
body {
  background-color: #192444;
}

.card_container {
  border-radius: 5px;
  background-color: #1f2c56;
  margin: 15px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #1f2c56;
}

.create_container {
  border-radius: 5px;
  background-color: #1f2c56;
  margin: 15px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #1f2c56;
}

.create_container1 {
  border-radius: 5px;
  background-color: #1f2c56;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #1f2c56;
}

.dcc_compon {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.fix_label {
font-size: 20px;
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100% - 40px);
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#header {
  align-items: center;
}

#refresh-data {
  text-align: center;
  height: 100%;
  padding: 0 20px;
  text-transform: none;
  font-size: 20px;
  float: right;
  margin-right: 10px;
  margin-top: 30px;
}

#title {
  text-align: center;
}

#title1 {
  text-align: center;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

.Select-control,
.Select-menu-outer,
.Select-multi-value-wrapper,
.select-up,
.is-open
.Select-control {
  background-color: #1f2c56;
  color: white;
}

.Select-control{
  border: 0.5px solid green;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f2c56 !important;
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #192444;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white !important;
}

.alert {
  background-color: #77dd77e1;;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);

}
.back{
  position:relative;
  width:40%;
  height:60px;
  cursor: pointer;
}
.back::before{
  content:"Back";
  position:absolute;
    top:0px;
  /* right:0; */
  left: 105%;
  display: inline-block;
  height:60px;
  background: -webkit-linear-gradient(to right, #463dc5, #2d2957);
  background: linear-gradient(to right, #463dc5, #2d2957);
  color:#fff;
  font-weight: 700;
  z-index: 25;
  font-size: 14px;
  line-height: 60px;
  padding:0 15px;
  text-transform: uppercase;
  /* pointer-events: none; */
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.back::after{
  /* content:attr(x); */
  font-size: 18px;
  position:absolute;
    top:0px;
  left:0;
  /* background:#fff; */
  padding:10px 15px;
  display: block;
  width:calc(100% - 40px);
  /* pointer-events:none; */
  z-index: 20;
  height:40px;
  line-height: 40px;
  /* color:#999; */
  border-radius: 5px 10px 10px 5px;
  font-weight: 300;
}

.back:hover::before{
  background: -webkit-linear-gradient(to left, #463dc5, #2d2957);
  background: linear-gradient(to left, #463dc5, #2d2957);
}
.visualizer{
  position:relative;
  width:40%;
  height:60px;
  cursor: pointer;
}
.visualizer::before{
  content:"Visualization";
  position:absolute;
    top:0px;
  /* right:0; */
  left: 105%;
  display: inline-block;
  height:60px;
  background: -webkit-linear-gradient(to right, #463dc5, #2d2957);
  background: linear-gradient(to right, #463dc5, #2d2957);
  color:#fff;
  font-weight: 700;
  z-index: 25;
  font-size: 14px;
  line-height: 60px;
  padding:0 15px;
  text-transform: uppercase;
  /* pointer-events: none; */
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.visualizer::after{
  /* content:attr(x); */
  font-size: 18px;
  position:absolute;
    top:0px;
  left:0;
  /* background:#fff; */
  padding:10px 15px;
  display: block;
  width:calc(100% - 40px);
  /* pointer-events:none; */
  z-index: 20;
  height:40px;
  line-height: 40px;
  /* color:#999; */
  border-radius: 5px 10px 10px 5px;
  font-weight: 300;
}

.visualizer:hover::before{
  background: -webkit-linear-gradient(to left, #463dc5, #2d2957);
  background: linear-gradient(to left, #463dc5, #2d2957);
}

.file-upload-wrapper{
  position:relative;
  width:40%;
  height:60px;
  cursor: pointer;
}
.file-upload-wrapper::after{
  /* content:attr(x); */
  font-size: 18px;
  position:absolute;
    top:0px;
  left:0;
  /* background:#fff; */
  padding:10px 15px;
  display: block;
  width:calc(100% - 40px);
  /* pointer-events:none; */
  z-index: 20;
  height:40px;
  line-height: 40px;
  /* color:#999; */
  border-radius: 5px 10px 10px 5px;
  font-weight: 300;
}

.test{
  position:absolute;
  top: 2px;
  left:40%;
  /* width: %; */
  /* height:40px; */
  cursor: pointer;
  font-size: 25px;
  /* right:500px; */
  /* background:#fff; */
  color: rgb(255, 255, 255);
  padding:10px 15px;
  display: block;
  pointer-events:none;
  z-index: 20;
  line-height: 40px;
  /* color:#999;   */
  border-radius: 5px;
  font-weight: 300;
}



.file-upload-wrapper::before{
  content:"Select Files";
  position:absolute;
    top:0px;
  /* right:0; */
  left: 65%;
  display: inline-block;
  height:60px;
  background: -webkit-linear-gradient(to right, #463dc5, #2d2957);
  background: linear-gradient(to right, #463dc5, #2d2957);
  color:#fff;
  font-weight: 700;
  z-index: 25;
  font-size: 14px;
  line-height: 60px;
  padding:0 15px;
  text-transform: uppercase;
  /* pointer-events: none; */
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.file-upload-wrapper:hover::before{
  background: -webkit-linear-gradient(to left, #463dc5, #2d2957);
  background: linear-gradient(to left, #463dc5, #2d2957);
}
/* .file-upload-wrapper input{
  content: attr(aaa);
  opacity: 0;
  position:absolute;
  top:0px;
  right:0;
  bottom:0;
  left:0;
  z-index: 99;
  height:40px;
  margin:0;
  padding:0;
  display:block;
  cursor: pointer;
  width:100%;
} */

.wrapper1{
  position:relative;
  content:"Submit"; 
  text-align: center;
  position:absolute;
  display: inline-block;
  height:40px;
  background: #0ed166;
  color:#fff;
  font-weight: 700;
  z-index: 25;
  font-size: 13px;
  line-height: 46px;
  padding:0 10px;
  margin: 15px 0;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  cursor: pointer;

}